@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}

html {
    background-color: lightblue;
}

.headerContainer {
    text-align: center;
    background-color: rgba(0, 0, 155, 0.555);
    color: white;
    padding: 2em;
}

.rulesContainer {
    text-align: center;
    padding: 2em;
}

.rules {
    padding: 0.5em;
}

button{
    background-color: navy;
    border-radius: 1em;
    height: 10em;
    width: 10em;
}

.buttonsContainer{
    justify-content: center;
    display: flex;
    gap: 1em;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 3em;
}